google-auth==2.38.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
google-api-python-client==2.161.0
pandas==2.2.3
pdfplumber==0.11.5
pymysql==1.1.1
mysql-connector==2.2.9
mysqlclient==2.2.7
python-dotenv==1.0.1